<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Get Lost</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  </head>
  <body>
    <div class="jumbotron">
      <h1>Maybe you entered wrong credentials :(</h1>
      <a href="{% url 'user_login' %}">Click Here to fill the details again.</a>
      <h2>Or if you don't belong here you can Get Lost :)</h2>

    </div>

  </body>
</html>
